datasets/MERR_coarse_grained.json
datasets/MERR_coarse_grained.txt
datasets/MERR_fine_grained.json
datasets/MERR_fine_grained.txt
datasets/HL-UTT
datasets/mae_340_UTT
datasets/maeV_399_UTT
checkpoints/checkpoint_best.pth
checkpoints/Emoation_LLaMA.pth
checkpoints/Llama-2-7b-chat-hf/